<%= form_tag sessions_path, class: "form-signin", role: "form" do %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email address", required: "required", autofocus: "autofocus" %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil, class: "form-control", required: "required" %>
  </p>
  <label class="checkbox">
    <input type="checkbox" value="remember_me" name="remember_me"> Remember me
  </label>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	<p><%= link_to "forgotten password?", new_password_reset_path %> <br/>Accounts can only be created by existing users, so please <a href="/pages/contact">contact us</a>.</p>
<% end %>

