<%= form_for @user, class: "form-signin", role: "form", :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, size: 30, required: "required", placeholder: "Enter a new password" %>
		<span class="help-block">The password must: contain a digit from 0-9, one lowercase character, one uppercase character, one special symbol in the list '@#$%', and have a length of at least 6 characters and a maximum of 20 characters.</span>
  </div>
  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, size: 30, required: "required", placeholder: "Repeat the password" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>

