<%= form_for(@movement_annotation) do |f| %>
  <% if @movement_annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement_annotation.errors.count, "error") %> prohibited this movement annotation from being saved:</h2>

      <ul>
      <% @movement_annotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :attached_type, :value => params[:annotated]%>
  <%= f.hidden_field :attached_id, :value => params[:id]%>

  <div class="field form-group">
    <%= f.label :name, class: "control-label" %><br>
    <%= f.text_field :name, size: 60, class: "form-control", placeholder: "Name the project", required: "required", autofocus: "autofocus" %>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: "control-label" %><br>
    <%= f.text_area :description, size: "60x12", class: "form-control", placeholder: "Project description", required: "required" %>
  </div>
  <div class="field form-group">
		<%= f.label :tags, class: "control-label" %>
		<%= f.text_field :tag_list, class: "form-control" %>	
		<em class="help-block">Please separate tags with commas</em>
  </div>
  <div class="field form-group">
    <%= f.label :public, class: "checkbox" %>
    <%= f.check_box :public %> 
		<em class="help-block">Public pieces are published for everyone to see</em>
  </div>
  <div class="field form-group">
	<%= f.label :asset_file, class: "control-label" %><br>
	<% unless @movement_annotation.asset.nil? %>
		Currently: <%= @movement_annotation.asset.file_file_name %><br/>
	<% end %>
	<%= f.file_field :asset_file %>
  </div>
  <div class="actions">
		<%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
