<% provide(:title, "Annotation #{@movement_annotation.name}") %>
<h2><%= @movement_annotation.name %><% if authorized? @movement_annotation %> <small><%= link_to edit_link_html('Edit'), edit_movement_annotation_path(@movement_annotation) %></small><% end %></h2>
<p>
  <%= @movement_annotation.description %>
</p>
<p>
  <strong>Format:</strong>
	<p><%= @movement_annotation.format %>
  <% if @movement_annotation.format.blank? %>No additional info provided.<% end %></p>
</p>
<% if ! @movement_annotation.tags.empty? -%>
  <p>
    <strong>Tags:</strong>
    <% @movement_annotation.tags.each do |tag| %>
    	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
  </p>
<% else -%>
 <p>No tags yet</p>
<% end -%>
<p><em>Notice to owner: <% if @movement_annotation.public? %>
	 This project is visible to everyone.
	 <% else %>
	 This project can only be seen by its creator and approved access groups.
	 <% end %></em></p>

<%= link_to link_html("Download", @movement_annotation.asset.file_file_name), @movement_annotation.asset.file.url(:original, false) %> (<%= 		@movement_annotation.asset.file_content_type %>)
<br/>
<%= link_to back_link_html('Return'), @movement_annotation.attached %>
