<% provide(:title, 'Access Group') %>
<h2><%= @access_group.name %><small><% if current_user %> <%= link_to edit_link_html('Edit'), edit_access_group_path(@access_group) %><% end %></small></h2>

<h3>Permitted Users</h3>
<%= @access_group.users.map { |user| user.display_name }.to_sentence %>
<h3>Projects</h3>
<%= @access_group.projects.map { |user| user.name }.to_sentence %>
<br/>

<%= link_to back_link_html('Return to list of access groups'), access_groups_path %>

