<% provide(:title, 'Movers') %>
<h1>Listing movers</h1>
<em>These individuals can be associated with data tracks for reference purposes.</em>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Expertise</th>
      <th>CMA(-like) training</th>
      <th>Other training</th>
    </tr>
  </thead>

  <tbody>
    <% @movers.each do |mover| %>
      <tr>
        <td>	<%= link_to edit_link_html, edit_mover_path(mover) if current_user %>
							<%= link_to remove_link_html, mover, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
							<%= mover.name %>
				</td>
        <td><%= Time.now.year - mover.dob.year unless mover.dob.nil? %></td>
        <td><%= mover.gender %></td>
        <td><%= mover.expertise %></td>
        <td>
				<% if mover.cma_like_training %>
					<span class="glyphicon glyphicon-ok"></span>
				<% else %>
					<span class="glyphicon glyphicon-remove"></span>				
				<% end %>
				</td>
        <td><%= mover.other_training %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to add_link_html('Add a new mover'), new_mover_path %>
