<p>
  <strong>Name:</strong>
  <%= @mover.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @mover.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @mover.gender %>
</p>

<p>
  <strong>Expertise:</strong>
  <%= @mover.expertise %>
</p>

<p>
  <strong>Cma_like_training:</strong>
  <%= @mover.cma_like_training %>
</p>

<p>
  <strong>Other training:</strong>
  <%= @mover.other_training %>
</p>


<% if current_user %> <%= link_to edit_link_html('Edit'), edit_mover_path(@mover) %> | <% end %>
<%= link_to back_link_html('Return to list of movers'), movers_path %>
