<h1>Listing movement groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movement_groups.each do |movement_group| %>
      <tr>
        <td><%= movement_group.name %></td>
        <td><%= movement_group.description %></td>
        <td><%= link_to 'Show', movement_group %></td>
        <td><%= link_to 'Edit', edit_movement_group_path(movement_group) %></td>
        <td><%= link_to 'Destroy', movement_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement stream', new_movement_group_path %>
