<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movement_group.description %>
</p>

<%= link_to 'Edit', edit_movement_group_path(@movement_group) %> |
<%= link_to 'Back', movement_groups_path %>
