<% provide(:title, "Movement Group: #{@movement_group.name}") %>
<ol class="breadcrumb">
  <li><a href="/">Projects</a></li>
	<li><%= link_to @movement_group.project.name, project_path(@movement_group.project) %></li>
	<li><%= link_to @movement_group.name, movement_group_path(@movement_group) %></li>
</ol>
<h2><%= @movement_group.name %> <% if authorized? @movement_group %><small><%= link_to edit_link_html('Edit'), edit_movement_group_path(@movement_group) %><% end %></small></h2>
<div class="row">
  <div class="col-xs-6">
		<% if authorized? @movement_group %>
			<p><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Notice to owner: <% if @movement_group.public? %>
				 This take is visible to everyone.
				 <% else %>
				 This take can only be accessed by its creator and approved access groups.
				 <% end %></em>
			</p>
		<% end %>	
		<p><%= @movement_group.description %></p>
		<h5>License terms</h5>
		<p>
			<%= @movement_group.project.license %>
			<% if @movement_group.project.license.blank? %>
			No terms specified. Assume regular copyright in effect.
			<% end %>
		</p>		
		<h5>Tags</h5>
		<% if ! @movement_group.tags.empty? -%>
		  <p>
		    <% @movement_group.tags.each do |tag| %>
		    	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
			<% end %>
		  </p>
		<% else -%>
		 <p>No tags set.</p>
		<% end -%>
	
	</div>
  <div class="col-xs-6">
		<% unless @movement_group.movers.empty? %>
		<h5>Default Movers</h5>
		<ul class="horizontal-wrapped">
			<% @movement_group.movers.each do |mover| %>
				<li><p>
				<a href="<%= mover_url(mover) %>"><%= image_tag(mover.avatar.url(:thumb)) if mover.avatar? %><%= mover.name%></a>
				</p></li>
			<% end %>
		</ul>
		<% else %>
		No default movers set.
		<% end %>

	</div>	
</div>
<div class="row">
  <div class="col-xs-6">
		<p>
			<%= link_to link_html("picture", "View movement group in Mova"), mova_url + "group_id=#{@movement_group.id}"%><br/>
			<%= link_to link_html("download-alt", "Download this movement group"), controller: "movement_groups", action: "export", id: @movement_group.id unless @movement_group.takes.where(public: true).empty? %>		<br/>	
			Movement group owned by <%= mail_to(@movement_group.owner.email, @movement_group.owner.display_name) %><br/>
			<%= image_tag(@movement_group.owner.avatar.url(:thumb)) if @movement_group.owner.avatar?%>			
		</p>
	</div>
	<div class="col-xs-6">
		<h5>Attached Files</h5>
		<% if current_user %>
			<%= link_to link_html("paperclip", "Attach a file"), new_movement_annotation_path(attached_id: @movement_group.id, annotated: MovementGroup) %>
		<% end %>		
		<% unless @movement_group.movement_annotations.empty? %>
			<ul>
			<% @movement_group.movement_annotations.where(public: true).each do |annotation| %>
				<li><%= link_to link_html("Download", annotation.asset.file_file_name), annotation.asset.file.url(:original, false) %> (<%= annotation.asset.file_content_type %>) 
						<% if authorized?(annotation) %>
							<small><%= link_to edit_link_html("Edit"), edit_movement_annotation_path(annotation) %> 
							<%= link_to remove_link_html("Delete"), annotation, method: :delete, data: { confirm: 'Are you sure?' } %></small>
						<% end %>
					</li>
			<% end %>
			<% @movement_group.movement_annotations.where(public:false ).each do |annotation| %>
				<% if authorized?(annotation) %>
					<li>
						<%= link_to link_html("Download", annotation.asset.file_file_name), annotation.asset.file.url(:original, false) %> (<%= 		annotation.asset.file_content_type %>)						
						<small><%= link_to edit_link_html("Edit"), edit_movement_annotation_path(annotation) %> 
						<%= link_to remove_link_html("Delete"), annotation, method: :delete, data: { confirm: 'Are you sure?' } %></small>
					</li>
				<% end%>
			<% end %>
			</ul>
		<% end %>
		<% if @movement_group.movement_annotations.where(public: true).empty? %>
			<p>No annotations available.</p>
		<% end %>	
	</div>
</div>
	<% if @movement_group.takes.empty? %>
		<p>No takes attached yet. <% if authorized? @movement_group %>
			<small><%= link_to add_link_html("Add new take"), new_take_path(movement_group_id: @movement_group.id) %></small></p>
		<% end %></p>
	</div>
	<% else %>
		<%= link_to 'Mova!', mova_url + "group_id=#{@movement_group.id}"%>
		<p><% if authorized? @movement_group %>
			<small><%= link_to add_link_html("Add new take"), new_take_path(movement_group_id: @movement_group.id) %></small></p>
		<% end %></p>				
	</div>
		<table class="table">
		<caption>Takes</caption>
		<thead>
			<tr>
				<th>Take name</th>
				<th>Take description</th>
				<th># Tracks</th>
			</tr>
		</thead>
		<tbody>
		<% @movement_group.accessible_and_public_takes(current_user).each do |take| %>
			<tr>
				<td><%= link_to truncate(take.name, length: 50), take_path(take)%> 
					<span class="pull-right">
						<%= link_to 'Mova!', mova_url + "take_id=#{take.id}"%>
							<% if authorized? take %>
							<small><%= link_to edit_link_html, edit_take_path(take) %> <%= link_to remove_link_html, take, method: :delete, data: { confirm: 'Are you sure?' } %></small>
						<% end %></span></td>
				<td><%= truncate(take.description, length: 100) %></td>
				<td><%= take.data_tracks.count %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to back_link_html('Return to project details'), project_path(@movement_group.project) %>