<%= form_for(@sensor_type) do |f| %>
  <% if @sensor_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_type.errors.count, "error") %> prohibited this sensor_type from being saved:</h2>

      <ul>
      <% @sensor_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, class: "control-label" %><br>
    <%= f.text_field :name, size: 60, class: "form-control", required: "required", autofocus: "autofocus" %>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: "control-label" %><br>
    <%= f.text_field :description, size: 120, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
