<% provide(:title, 'Sensor Types') %>
<h1>Sensor Types</h1>
<em>These sensors are available for use in all new data tracks.</em>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_types.each do |sensor_type| %>
      <tr>
        <td><%= link_to edit_link_html, edit_sensor_type_path(sensor_type) if current_user %>
						<%= link_to remove_link_html, sensor_type, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
						<%= link_to sensor_type.name, sensor_type_path(sensor_type) %></td>
        <td><%= sensor_type.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to add_link_html("Create new sensor"), new_sensor_type_path if current_user %>
