<% provide(:title, 'Sensor') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sensor_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sensor_type.description %>
</p>

<%= link_to edit_link_html('Edit'), edit_sensor_type_path(@sensor_type) %> |
<%= link_to back_link_html('Return to sensor listing'), sensor_types_path %>
