<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: "control-label" %><br>
    <%= f.text_field :name, size: 60, class: "form-control", placeholder: "Name the project", required: "required", autofocus: "autofocus" %>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: "control-label" %><br>
    <%= f.text_area :description, size: "60x12", class: "form-control", placeholder: "Project description", required: "required" %>
  </div>
  <div class="field form-group">
		<%= f.label :movers, class: "control-label"%><br/>
		<%= f.collection_select :mover_ids, Mover.all, :id, :name, {:include_blank => 'None'}, {:multiple => true} %>
		<em class="help-block">Hold the ctrl/cmd key while selecting names to choose more than one. These will be the default for any takes added to this take.</em>		
	</div>
  <div class="field form-group">
		<%= f.label :tags, class: "control-label" %>
		<%= f.text_field :tag_list, class: "form-control" %>	
		<em class="help-block">Please separate tags with commas</em>
  </div>
  <div class="field form-group">
    <%= f.label :public, class: "checkbox" %>
    <%= f.check_box :public %> 
		<em class="help-block">Public pieces are published for everyone to see</em>
  </div>
  <div class="actions">
		<%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
