<% uniq_id = rand(36**8).to_s(36) %>
<% project_counter ||= 1 %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion<%= project_counter  %>" href="#collapse<%=uniq_id%>" class="accordian-toggle">
        <%= group.name %> <span class="badge" style="background-color: #3a87ad;"><%= group.takes.count %></span> <i class="glyphicon glyphicon-collapse-down"></i></a>
			<% if authorized? group %>
			<small class="pull-right"><%= link_to edit_link_html("Edit"), edit_movement_group_path(group) %> <%= link_to remove_link_html("Delete"), group, method: :delete, data: { confirm: 'Are you sure?' } %></small>
			<% end %>
    </h4>
  </div>
  <div id="collapse<%=uniq_id%>" class="panel-collapse collapse">
    <div class="panel-body">
    	<p><%= group.description %></p>
			<% if group.tag_list.empty? %>
				<p>This item has no tags yet.</p>
			<% else %>
				<p>[<%= group.tag_list %>]</p>
			<% end %>
			<% if authorized? group %>
				<p><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Notice to owner: <% if group.public? %>
					 This group is visible to everyone
					 <% else %>
					 This group can only be seen by take owners and its creator
					 <% end %></em>
				</p>
			<% end %>
			<% if group.takes.empty? %>
				<p>No takes attached yet. <% if authorized? group %>
					<small><%= link_to add_link_html("Add new take"), new_take_path(movement_group_id: group.id) %></small></p>
				<% end %></p>
			</div>
			<% else %>
				<%= link_to 'Mova!', mova_url + "group_id=#{group.id}"%>
				<p><% if authorized? group %>
					<small><%= link_to add_link_html("Add new take"), new_take_path(movement_group_id: group.id) %></small></p>
				<% end %></p>				
			</div>
				<table class="table">
				<caption>Takes</caption>
				<thead>
					<tr>
						<th>Take name</th>
						<th>Take description</th>
						<th># Tracks</th>
					</tr>
				</thead>
				<tbody>
				<% group.takes.each do |take| %>
					<tr>
						<td><%= link_to take_link_or_name(take)%> 
							<span class="pull-right">
								<%= link_to 'Mova!', mova_url + "take_id=#{take.id}"%>
									<% if authorized? take %>
									<small><%= link_to edit_link_html, edit_take_path(take) %> <%= link_to remove_link_html, take, method: :delete, data: { confirm: 'Are you sure?' } %></small>
								<% end %></span></td>
						<td><%= truncate(take.description, length: 100) %></td>
						<td><%= take.data_tracks.count %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
  </div>
</div>
