<div class="panel panel-default">
  <div class="panel-heading">Project: <strong><%= project.name %></strong>
	  <% if authorized? project %>
			<small class="pull-right"><%= link_to edit_link_html("Edit"), edit_project_path(project) %>
		  <%= link_to remove_link_html("Delete"), project, method: :delete, data: { confirm: 'Are you sure?' } %>
			</small>
		<% end %>
	</div>
  <div class="panel-body">
		<h5>Project description</h5>
    <p><%= project.description %></p>
		<% if project.tag_list.empty? %>
			<p>This item has no tags yet.</p>
		<% else %>
			<p>[<%= project.tag_list %>]</p>
		<% end %>
		<% if authorized? project %>
			<p><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Notice to owner: <% if project.public? %>
				 This project is visible to everyone
				 <% else %>
				 This project can only be seen by project owners and its creator
				 <% end %></em>
			</p>
		<% end %>
	  <% if project.movement_groups.empty? %>
			<p>No associated movement takes yet. 
				<% if authorized? project %>
					<small><%= link_to add_link_html("Add new take"), new_movement_group_path(project_id: project.id) %></small></p>
				<% end %>
		<% else %>
			<h5>Movement Takes <small><%= link_to add_link_html("Add new take"), new_movement_group_path(project_id: project.id) %></small></h5>
			<div class="panel-group" id="accordion<%=project_counter%>">
				<%= render partial: 'take', collection: project.movement_groups, locals: {project_counter: project_counter} %>
			</div>
		<% end %>		
  </div>
</div>