<% uniq_id = rand(36**8).to_s(36) %>
<% project_counter ||= 1 %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion<%= project_counter  %>" href="#collapse<%=uniq_id%>" class="accordian-toggle">
        <%= take.name %> <span class="badge" style="background-color: #3a87ad;"><%= take.data_tracks.size %></span> <i class="glyphicon glyphicon-collapse-down"></i></a>
			<% if authorized? take %>
			<small class="pull-right"><%= link_to edit_link_html("Edit"), edit_movement_group_path(take) %> <%= link_to remove_link_html("Delete"), take, method: :delete, data: { confirm: 'Are you sure?' } %></small>
			<% end %>
    </h4>
  </div>
  <div id="collapse<%=uniq_id%>" class="panel-collapse collapse">
    <div class="panel-body">
			<h5>Description</h5>
    	<p><%= take.description %></p>
			<% if take.tag_list.empty? %>
				<p>This item has no tags yet.</p>
			<% else %>
				<p>[<%= take.tag_list %>]</p>
			<% end %>
			<% if authorized? take %>
				<p><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Notice to owner: <% if take.public? %>
					 This take is visible to everyone
					 <% else %>
					 This take can only be seen by take owners and its creator
					 <% end %></em>
				</p>
			<% end %>
			<% if take.data_tracks.empty? %>
				<p>No movement files attached yet. <% if authorized? take %>
					<small><%= link_to add_link_html("Add new data track"), new_data_track_path(movement_group_id: take.id) %></small></p>
				<% end %></p>
			</div>
			<% else %>
					<%= form_tag(mova_url, :method=>"POST") do -%>
					    <% take.data_tracks.each do |track| %>
					      <% unless track.asset.nil? %>
						  		<% if track.asset.file_content_type =~ /csv/ %>
					          <%= hidden_field_tag :csvfile, URI.join(request.url, track.asset.file.url(:original, false)) %>
						  		<% end %>
						  		<% if track.asset.file_content_type =~ /mp4/ %>
					          <%= hidden_field_tag :mp4file, URI.join(request.url, track.asset.file.url(:original, false)) %>
						  		<% end %>
						  		<% if track.asset.file_content_type =~ /mpeg/ %>
					          <%= hidden_field_tag :mp3file, URI.join(request.url, track.asset.file.url(:original, false)) %>
						  		<% end %>				
								<% end %>
					  	<% end %>
					 	<%= submit_tag "Launch in MoVa" %>
					 <% end # end form_tag -%>
			</div>
				<table class="table">
				<caption>Associated Files
					<% if authorized? take %>
						<small><%= link_to add_link_html("Add new data track"), new_data_track_path(movement_group_id: take.id) %></small></p>
					<% end %></caption>
				<thead>
					<tr>
						<th>File name</th>
						<th>File type</th>
						<th>Sensor</th>
						<th>Technician</th>
						<th>Description</th>
						<th>Recorded on</th>
					</tr>
				</thead>
				<tbody>
				<% take.data_tracks.each do |track| %>
					<tr>
						<td><%= link_to track.name, track %> 
							<span class="pull-right">
						<% if authorized? track %>
							<small><%= link_to edit_link_html, edit_data_track_path(track) %> <%= link_to remove_link_html, track, method: :delete, data: { confirm: 'Are you sure?' } %></small>
						<% else %>	
							<% unless track.asset.nil? %>
								<%= link_to download_link_html("Download"), track.asset.file.url(:original, false)%>
							<% end %>
						</span></td>
						<% end %>
						<td><% unless track.asset.nil? %><%= track.asset.file_content_type %><% else %>unknown<% end %></td>
						<td><% unless track.sensor_type.nil?%><%= link_to track.sensor_type.name, track.sensor_type %><% else %>unspecified<% end %></td>
						<td><%= track.technician %></td>
						<td><%= track.description %></td>
						<td><% unless track.recorded_on.nil? %><%= track.recorded_on %><% end %></td>							
					</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
  </div>
</div>
