<ol class="breadcrumb">
  <li><a href="/">Projects</a></li>
	<li><%= link_to @project.name, project_path(@project) %></li>
</ol>
<p id="notice"><%= notice %></p>
<h2><%= @project.name %><% if authorized? @project %> <small><%= link_to edit_link_html('Edit'), edit_project_path(@project) %></small><% end %></h2>
<p>
  <%= @project.description %>
</p>
<h5>License terms</h5>
<p>
	<%= @project.license %>
	<% if @project.license.blank? %>
	No terms specified. Assume regular copyright in effect.
	<% end %>
</p>
<% unless @project.movers.empty? %>
<h5>Default Movers</h5>
<ul class="horizontal-wrapped">
	<% @project.movers.each do |mover| %>
		<li><p>
		<a href="<%= mover_url(mover) %>"><%= image_tag(mover.avatar.url(:thumb)) if mover.avatar? %><%= mover.name%></a>
		</p></li>
	<% end %>
</ul>
<% else %>
No default movers set.
<% end %>
<% if ! @project.tags.empty? -%>
  <p>
    <strong>Tags:</strong>
    <% @project.tags.each do |tag| %>
    	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
  </p>
<% else -%>
 <p>No tags yet</p>
<% end -%>
<% if authorized? @project %>
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Notice to owner: <% if @project.public? %>
		 This project is visible to everyone.
		 <% else %>
		 This project can only be seen by its creator and approved access groups.
		 <% end %></em>
	</p>
<% end %>
<% if @project.movement_groups.empty? %>
	<p>No associated movement takes yet. 
		<% if authorized? @project %>
			<small><%= link_to add_link_html("Add new take"), new_movement_group_path(project_id: @project.id) %></small></p>
		<% end %>
<% else %>
	<% project_counter ||= 1%>
	<h5>Movement Takes <small><%= link_to add_link_html("Add new take"), new_movement_group_path(project_id: @project.id) %></small></h5>
	<div class="panel-group" id="accordion<%=project_counter%>">
		<%= render partial: 'take', collection: @project.movement_groups %>
	</div>
<% end %>

<%= link_to back_link_html('Return to list of projects'), projects_path %>
