<ol class="breadcrumb">
  <li><a href="/">Projects</a></li>
	<li><%= link_to @data_track.movement_group.project.name, project_path(@data_track.movement_group.project) %></li>
	<li><%= link_to @data_track.movement_group.name, movement_group_path(@data_track.movement_group) %></li>
  <li class="active"><%= link_to @data_track.name, data_track_path(@data_track) %></li>
</ol>
<h1>Data Track Details</h1>
<p>
  <strong>Name:</strong>
  <%= @data_track.name %>
</p>
<h5>Description:</h5>
<p>
  <%= @data_track.description %>
</p>
<p>
  <strong>Technician:</strong>
  <%= @data_track.technician %>
</p>
<% unless @data_track.movers.empty? %>
<h5>Movers</h5>
<ul>
	<% @data_track.movers.each do |mover| %>
		<li><%= link_to mover.name, mover_url %></li>
	<% end %>
</ul>
<% else %>
No default movers set.
<% end %>
<p>
	<strong>Sensor Type:</strong>
	<td><% unless @data_track.sensor_type.nil? %>
		<%= @data_track.sensor_type.name %> <% else %>
		<%= "Sensor Undefined" %>
		<% end %>
	</td>
</p>
<% if ! @data_track.tags.empty? -%>
  <p>
    <strong>Tags:</strong>
    <% @data_track.tags.each do |tag| %>
    	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
  </p>
<% else -%>
 <p>No tags set.</p>
<% end -%>
<% if authorized? @data_track %>
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <em>Notice to owner: <% if @data_track.public? %>
		 This track is visible to everyone.
		 <% else %>
		 This track can only be seen by its creator and approved access groups.
		 <% end %></em>
	</p>
<% end %>

<% unless @data_track.asset.nil? %>
<p>Linked asset: <%= @data_track.asset.file_file_name %> - <%= @data_track.asset.file_content_type %>
		<%= form_tag(mova_url, :method=>"POST") do -%>
			<%= hidden_field_tag :csvfile, URI.join(request.url, @data_track.asset.file.url(:original, false)) %>
			<%= submit_tag "View in MoVa" %>
		<% end -%>
</p>
<% end %>

<%= link_to 'Edit', edit_data_track_path(@data_track) %> |
<%= link_to 'Back', data_tracks_path %>
