<nav class="navbar navbar-default navbar-fixed-top ng-scope" role="navigation"  style="background-color: azure;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Moving Stories - Movement Database</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to "About", "/pages/about" %></li>
				<li><%= link_to "Contact Us", "/pages/contact" %></li>
			</ul>
	  	<form class="navbar-form navbar-right" role="search" action="/">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" id="search" name="search"/>
		      </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	    </form>
      <ul class="nav navbar-nav navbar-right">
				<% if current_user %>
        <li class="dropdown">
          <a href="" dropdown="" data-toggle="dropdown" class="dropdown-toggle">
            <span class="glyphicon glyphicon-user"></span> <%= current_user.email %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
						<li><%= link_to 'Create new project', new_project_path %></li>
						<li><%= link_to 'View my projects', myprojects_path %></li>						
						<li class="divider"></li>
						<li><%= link_to 'Manage sensors', sensor_types_path %></li>
						<li><%= link_to 'Manage movers',  movers_path %></li>
						<li><%= link_to 'Manage access groups',  access_groups_path %></li>						
            <li class="divider"></li>
            <li><%= link_to "Create new user account", new_user_path %></li>
            <li><%= link_to "Edit my profile", edit_user_path(current_user) %></li>
            <li><%= link_to "Logout", log_out_path %></li>
          </ul>
        </li>
				<% else %>
					<li class="dropdown">
						<%= link_to login_link_html("Login"), log_in_path %>
					</li>
				<% end %>
      </ul>
    </div>
  </div>
</nav>