<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>	
	<ol class="breadcrumb">
	  <li><a href="/">Projects</a></li>
	  <li><a href="#">Library</a></li>
	  <li class="active">Data</li>
	</ol>	
	<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
